/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Global Stylings */
:root {
    /* Colors */
    --black: #000;
    --white: #fff;
    --gray: #4E4B5C;
    --blue: #3E92CC;
    --red: #EE6352;
    --green: #57A773;

    /* Font */
    --FF: "Roboto", sans-serif;

    --FW-400: 400;
    --FW-500: 500;
    --FW-700: 700;
    --FW-900: 900;

    --FS-15: 0.938rem; /* 15px */
    --FS-16: 1rem;     /* 16px */
    --FS-18: 1.125rem; /* 18px */
    --FS-20: 1.25rem;  /* 20px */

    /* Other */
}

/* General Styles */
body {
    font-family: var(--FF);
    color: var(--gray);
    font-size: var(--FS-16);
    font-weight: var(--FW-400);
    line-height: 1.5;
}

.main-title {
    font-size: var(--FS-20);
    text-align: center;
    margin-top: 50px;
}

.projects {
    margin-top: 40px;
}

.projects-container {
    max-width: 20em;
    margin: 0 auto;
}

.project {
    background-color: var(--blue);
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.project-card-link {
    text-decoration: none;
    color: var(--gray);
}

.project-img img {
    border-radius: 8px;
}

.project-title {
    text-align: center;
    margin-top: 10px;
}

.project-text {
    margin-top: 12px;
}