html, body {
    margin: 0;
    padding: 0;
}

.root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar {
    width: 100px;
    transition: width 350ms ease-in-out;
}

.search-bar:hover {
    width: 250px;
    border-color: 2px solid #3a71ca;
}

.search-bar:hover::placeholder {
    color: transparent;
}