/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root */
:root {
    --font-main: 'Noto Sans', sans-serif;
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}

html, body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: var(--bg-main);
    font-family: var(--font-main);
}

ul, li {
    list-style-type: none;
}

body {
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, h3 {
    margin: 0;
    padding: 0;
}

.card {
    max-width: 300px;
    padding: 1em;
    margin: auto;
    background-color: var(--bg-card);
    border-radius: 8px;
}

.card-thumbnail img {
    max-width: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 0.5em;
    color: white;
    width: 100%;
}

.card-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 1rem;
}

.card-details {
    line-height: 1.5;
}

.card-details h3 {
    font-weight: 900;
    font-size: 1rem;
}

.card-details p {
    color: var(--username);
    font-size: 0.85rem;
}

.card-stats {
    display: none;
}

.card:hover .card-stats {
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
}

.card:hover {
    padding-bottom: 0;
    cursor: pointer;
}

.card-stats ul {
    padding: 0;
}

.card-stats li {
    background-color: var(--bg-stats);
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    border-radius: 8px;
}