:root {
    --red: #ED2938;
    --white: #fff;
    --blue: #002495;
    --flag-height: 150px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-france {
    height: var(--flag-height);
    width: calc(var(--flag-height) * 3/2);
    border: 1px solid black;
    display: flex;
    box-shadow: 3px 2px 3px -3px rgba(0,0,0,0.75);
}

.blue, .white, .red {
    width: 75px;
}

.blue {
    background-color: var(--blue);
}

.white {
    background-color: var(--white);
}

.red {
    background-color: var(--red);
}