:root {
    --color-light: lightgray;
    --color-dark: darkgray;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    animation: pulse 1s infinite alternate linear;
}

@keyframes pulse {
    from {
        background-color: var(--color-dark);
    }

    to {
        background-color: var(--color-light);
        height: 1.6em;
        width: 1.6em;
    }
}