html, body {
    margin: 0;
    padding: 0;
}

:root {
    --Black: #282828;
    --Blue: #2892f9;
    --Red: #fb2f27;
    --Yellow: #fdfe29;
}

.rings, .ring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ring {
    border-radius: 50%;
}

.ring-1 {
    width: calc(75px * 4);
    height: calc(75px * 4);
    background-color: var(--Black);
}

.ring-2 {
    width: calc(75px * 3);
    height: calc(75px * 3);
    background-color: var(--Blue);
}

.ring-3 {
    width: calc(75px * 2);
    height: calc(75px * 2);
    background-color: var(--Red);
}

.bullseye {
    width: 75px;
    height: 75px;
    background-color: var(--Yellow);
}